<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        #wrapper {
            width: 1000px;
            margin: 0 auto;
        }
        form{
            width: 75%;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        input {
            display: block;
            margin: 0 auto;
        }
    </style>
    <title>Document</title>
</head>
<body id="wrapper">
    <form action="/employee/create" method="POST" class="form-control-lg" class="form-text">
        {% csrf_token %}
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name" ><br>
        Email Address: <input type="text" name="email_address" ><br>
        Age: <input type="text" name="age"><br>
        <input type="submit">
    </form>
</body>
</html>